<!DOCTYPE html>
<html>
  <head>
    <title>Using CSS file</title>
    <link href="{{=URL('static','css/usingcssfile.css')}}" rel="stylesheet" type="text/css"/>
   </head>

  <body>
    <h1 class="important">Important Section</h1>
    <p class="important">
      This is  a very important paragraph. Very, very important!
    </p>
    <h1 class="regular">
      Regular Topics 
    </h1>
    <p class="regular">
      This is a paragraph of regular importance. Stuff you should know. It may or may not be on a test. 
      <span style="background-color: yellow"> So don't ignore it</span> but you may get away with not knowing it.
    </p>

    <div class="advancedbox">
      <p>
        Some additional material worth looking at.
      </p>
      <p>
        More additional material to follow up on.
      </p>
    </div>

    <p id="specialthanks">
      Special thanks to our friends Beaujolais, Merlot, and Pinot Noir.
    </p>



  </body>

</html>
    