<!DOCTYPE html>
<html>
  <head>
    <title>Using Style Tag</title>
    <style type="text/css">
      .important {color:red; text-align:center;}
      .regular {color:black; text-align:left;}
      .advancedbox {background-color: lightgrey}
      .advancedbox p {color: #2c2b2b}
      .highlight {background-color: yellow}
      #specialthanks {background-color: lightgreen}
      p {color: darkblue;}
    </style>
   </head>

  <body>
    <h1 class="important">Important Section</h1>
    <p class="important">
      This is  a very important paragraph. Very, very important!
    </p>
    <h1 class="regular">
      Regular Topics 
    </h1>
    <p class="regular">
      This is a paragraph of regular importance. Stuff you should know. It may or may not be on a test. 
      <span class="highlight"> So don't ignore it</span> but you may get away with not knowing it.
    </p>

    <p>This is some other paragraph.</p>

    <div class="advancedbox">
      <p>
        Some additional material worth looking at.
      </p>
      <p>
        More additional material to follow up on.
      </p>
    </div>

    <p id="specialthanks">
      Special thanks to our friends Beaujolais, Merlot, and Pinot Noir.
    </p>



  </body>

</html>
    